.tabs-container {
  .tab {
    flex: 1;
    text-align: center;
    cursor: pointer;
    color: #aaaaaa;
    font-family: "Inter";
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    border-radius: 6px;

    // &.active {
    //   color: #f9f9f9;
    //   background-color: #424242;
    // }
  }
}
